APP_NAME='TransactionCommissionCalculator'
APP_VERSION='1.0'
APP_ENV='prod'
APP_DEBUG='false'

TARGET_CURRENCY='EUR'
COUNTRIES_COLLECTION='["AT", "BE", "BG", "CY", "CZ", "DE", "DK", "EE", "ES", "FI", "FR", "GR", "HR", "HU", "IE", "IT", "LT", "LU", "LV", "MT","NL", "PO", "PT", "RO", "SE", "SI", "SK"]'
IN_COLLECTION_MULTIPLIER=0.01
NOT_IN_COLLECTION_MULTIPLIER=0.02

# RATES_PROVIDER_API_KEY pre-set only for the reviewer convenience
RATES_PROVIDER_API_KEY='VQpvy8vtkzWSaXpcCa8laWDUe60oRLDF'
